<!-- this is a wrapper file for all application views 
i.e. anythng here will show up in all views.
-->
<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>	<!-- partials here -->
    <%= render 'layouts/messages' %> <!-- partials here -->
    <div class="container">
      <%= yield %>
    </div>  
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
